:root {
  font-size: 62.5%;
  --primaryColor: #e8491d;
  --secondaryColor: #35424a;
  --mainWhite: #ffffff;
  --mainBlack: #444;
  --mainGrey: #f4f4f4;
  --mainSpacing: 0.1;
  --lineHeight: 1.3;
  --mainTransition: all 0.5s linear;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--mainWhite);
  overflow-x: hidden;
  line-height: var(--lineHeight);
  color: var(--mainBlack);
  font-size: 1.6rem;
}

.container{
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 117.0rem;
}

/* ---------- Navbar ---------- */
.navbar{
  position: sticky;
  top: 0;
  height: 10rem;
  background:var(--primaryColor);
  width: 100%;
  z-index: 1;
}



.navbar-center {
  /* width: 100%; */
  /* padding-top: 1.5rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
}


.navbar-c1{
  background: var(--mainGrey);
  /* color: var(--mainBlack); */
  padding: .8rem 0;
  /* border-bottom: solid .1rem var(--mainGrey); */
}

.navbar-center1 {
  display: flex;
  justify-content: space-between;
}

.navbar-center2 {
  display: flex;
  justify-content: center;
}

.navbar-c2{
  background: var(--secondaryColor);
  color: var(--mainWhite);
  padding: .7rem 0;
}


.cart-btn{
  position: relative;
  cursor: pointer;
}
.cart-btn a {
  text-decoration: none;
  color: var(--secondaryColor);
}

.cart-btn i {
  font-size: 2rem;
  color: var(--secondaryColor);
}

.cart-items {
  position: absolute;
  top: -.9rem;
  right: -1rem;
  background: var(--primaryColor);
  padding: 0 .5rem;
  border-radius: 30%;
  color: var(--mainWhite);
}



.navbar-links {
  display: flex;

  color: var(--secondaryColor);
  justify-content: space-between;
  align-items: center;
}

.navbar-links li {
  list-style: none;

}

.navbar-single-link1{
  margin-left: 0rem;
  display: none;
}

.navbar-single-link2{
  margin-left: 2rem;
  display: none;
}


.navbar-single-link3{
  margin-left: 0rem;
}

.navbar-links i {
  font-size: 2rem;
}


.nav-menu{
  font-size: 2.5rem;
  border-radius: .5rem;
  color: var(--secondaryColor);
}

.logo{
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--mainGrey);
  text-transform: uppercase;
  /* margin-left: 8rem; */
}
.logo span{
  color: var(--primaryColor);
}
/* ---------- End of Navbar ---------- */

/* ---------- Header Section ---------- */
.hero{
  min-height: calc(100vh - 10rem);
  background: url('../images/pexels-photo-595804.jpeg.jpg')center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner{
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  color: var(--mainBlack);
  display: inline-block;
  padding: 4rem;
  border-radius: .3rem;
}

.banner-title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: var(--mainSpacing);
}

.banner-btn{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  border-radius: .3rem;
  transition: var(--mainTransition);
  cursor: pointer;
}

.banner-btn:hover{
  background: transparent;
  color: var(--primaryColor);
}
/* ---------- End of Header Section ---------- */

/* ---------- Product Section ---------- */

.products {
  padding: 4rem 0;
}
.section-title h2{
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--secondaryColor);
  margin: 0 0 3rem 0;
}

.product-center{
  /* width: 90vw; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem , 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: center;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn{
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  padding: .5rem .8rem;
  transform: translateX(101%);
  cursor: pointer;
  border: none;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart{
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img{
  display: block;
  width: 100%;
  min-height: 12rem;
  border-radius: .3rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img{
  opacity: 0.5;
}

.product h3{
  text-transform: capitalize;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product h4{
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------- End of Product Section ---------- */

/* ---------- Menu ---------- */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(134, 134, 134, 0.5);
  z-index: 2;
  visibility: hidden;

}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3;
  background: var(--secondaryColor);
  color: var(--mainWhite);
  padding: 2rem;
  transition: var(--mainTransition);
  transform: translateX(-100%);
}

.menu li {
  /* font-size: 1.rem; */
}
/* 
menu ul li i {
  color: var(--mainWhite);
  line-height: 3rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 2.5rem;
  background: var(--primaryColor);
} */

.menu span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 3rem 0;
}

.showMenu{
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}



.close-menu {
  font-size : 2rem;
  cursor: pointer;
  align-content: right;
  display: flex;
  justify-content: flex-end;
}
.menu h2 {
  text-transform: uppercase;
  /* text-align: center; */
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  /* margin-bottom: 2rem; */
  /* padding: 2rem 2rem; */
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;
}


.menu li {
  padding: 1rem 2rem;
  text-decoration: none;
  list-style: none;
}

.menu h4 {
  padding: 0 0 0 2rem;

}

.menu-nav ul li i {
  color: var(--mainWhite);
  /* border: 1px solid var(--mainWhite); */
  border: none;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  background: var(--primaryColor);
}

.menu-nav ul li i {
  color: var(--mainWhite);
  /* border: 1px solid var(--mainWhite); */
  border: none;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  background: var(--primaryColor);
}

.menu-services ul li i {
  color: var(--mainWhite);
  /* border: 1px solid var(--mainWhite); */
  border: none;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  background: var(--primaryColor);
}

.menu-social ul li i {
  color: var(--mainWhite);
  /* border: 1px solid var(--mainWhite); */
  border: none;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  background: var(--primaryColor);
}

.menu-login ul li i {
  color: var(--mainWhite);
  /* border: 1px solid var(--mainWhite); */
  border: none;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  background: var(--primaryColor);
}

.menu-footer {
  display: flex;
  justify-content: center;
}


/* ---------- End of Menu ---------- */

/* ---------- Cart ---------- */
.cart{
  position: fixed;
  top: 6rem;
  right: 0;
  background: var(--mainGrey);
  transition: var(--mainTransition);
  overflow-y: scroll;
  padding: 4rem;
  width: 100%;
  height: calc(100vh - 6rem);
  border-radius: 0 0 0 0;
  transform: translateY(-103%);
}
.showCart{
  transform: translateY(0);
}
.close-cart {
  font-size : 2rem;
  cursor: pointer;
  align-content: right;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}


/* ---------- Cart Item ---------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  background: var(--mainWhite);
  padding-right: 2rem;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.item-amount{
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/* ---------- End of Cart Item ---------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3{
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/* ---------- End of Cart ---------- */


/* ---------- Footer Section ---------- */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background: var(--secondaryColor);
  color: var(--mainWhite);
  
}
/* ---------- End of Footer Section ---------- */


@media screen and (min-width: 50rem){

  .menu{
    width: 30vw;
    min-width: 45rem;
  }

  .cart{
    top: 7rem;
    width: 30vw;
    min-width: 45rem;
    height: 60rem;
    right: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }

  .navbar{
    position: sticky;
    top: 0;
    height: 10rem;
    /* align-items: center; */
    /* display: flex; */
    /* background: var(--secondaryColor); */
    color: var(--mainBlack);
    width: 100%;
    z-index: 1;
  }
  
  .navbar-center {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
  }
  
  .cart-btn{
    position: relative;
    cursor: pointer;
  }
  .cart-btn a {
    text-decoration: none;
    color: var(--secondaryColor);
  }

  
  .cart-items {
    position: absolute;
    top: -.9rem;
    right: -1rem;
    background: var(--primaryColor);
    /* padding: 0 .2rem; */
    border-radius: .5rem;
    color: var(--mainWhite);
  }
  

  

  .logo span{
    color: var(--primaryColor);
  }
  

  .cart-btn i {
    font-size: 2rem;
    color: var(--secondaryColor);
  }
  

  
  .nav-menu{
    font-size: 2.5rem;
    border-radius: .5rem;
    color: var(--secondaryColor);
  }
  


  .logo{
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--mainGrey);
    text-transform: uppercase;
    /* margin-left: 8rem; */
  }

  .navbar-single-link1{
    margin-left: 0rem;
    display: block;
  }
  
  .navbar-single-link2{
    margin-left: 2rem;
    display: block;
  }
  
  
  .navbar-single-link3{
    margin-left: 2rem;
  }
}






